@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  --font1: "Atkinson Hyperlegible Next", serif;
  --font2: "Merriweather", serif;
  --font3: "Poppins", sans-serif;
}

body,
html {
  padding-top: 100px;
  margin: 0 !important;
  padding: 0 !important;
  scroll-behavior: smooth !important;
  scroll-padding-top: 120px !important;
}

.navbar-custom {
  background-color: white !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  box-shadow: none !important;
  outline: none !important;
}

.navbar-custom .nav-item {
  color: grey !important;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar-custom .nav-item:hover {
  color: #007bff !important;
}

.expanded-navbar {
  background: rgba(255, 255, 255, 0.95);
  transition: background 0.4s ease-in-out;
}

.fade-in {
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeInAnimation 0.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-toggler {
  border: none !important;
  background: none !important;
  outline: none !important;
  box-shadow: none !important;
  transition: transform 0.3s ease-in-out;
}

.toggle-icon {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.toggle-icon.rotate {
  transform: rotate(180deg);
}

.nav-item {
  padding: 10px 15px;
  font-size: 16px !important;
}

.nav-link {
  gap: 30px !important;
  color: grey !important;
  font-size: 18px !important;
  font-weight: 200;
  font-family: var(--font1);
}

.nav-link.active {
  color: #018dcb !important;
}

.nav-link:hover {
  color: #018dcb !important;
}

.section-img img {
  border-radius: 10px;
}

@media (max-width: 991px) {
  .nav-item {
    padding: 8px 10px;
    font-size: 14px;
  }
}

.Homesection1 {
  padding: 20px;
  background-color: rgba(206, 206, 206, 0.3);
}

.Homesection1 h2 {
  font-family: var(--font3);
  font-weight: 600;
}

.Homesection1 p {
  font-size: 25.6px;
  font-family: var(--font3);
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  color: #333;
  letter-spacing: -0.7px;
  word-spacing: -1px;
}

.Homesection1 p strong {
  color: #0071a7;
}

@media (min-width: 320px) and (max-width: 425px) {
  .Homesection1 p {
    font-size: 17px !important;
    text-align: justify !important;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .Homesection1 p {
    font-size: 18px !important;
    text-align: justify !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .Homesection1 p {
    font-size: 19px !important;
    text-align: justify !important;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .Homesection1 p {
    font-size: 20px !important;
    text-align: justify;
  }
}

@media (min-width: 1441px) {
  .Homesection1 p {
    font-size: 24px !important;
    text-align: justify;
  }
}

.Homesection1 img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .Homesection1 p {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .Homesection1 p {
    font-size: 15px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .Homesection1 p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .Homesection1 p {
    font-size: 13px;
  }
}

.coursecard-head {
  font-family: var(--font1) !important;
}

.coursecard {
  max-width: 1200px !important;
}

@media (min-width: 320px) and (max-width: 576px) {
  .footer-section {
    padding-left: 20px !important;
  }
}

.course-card {
  border-radius: 10px !important;
  transition: all 0.3s ease-in-out !important;
}

.hindi-bg {
  background-color: #efd9be !important;
}

.skills-bg {
  background-color: #c8ffb6 !important;
}

.online-bg {
  background-color: #bbcef4 !important;
}

.course-card:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2) !important;
  filter: brightness(1.1) !important;
}

.course-card .btn {
  border-radius: 5px !important;
  font-weight: 600 !important;
}

.course-card .btn-dark {
  background-color: #171818 !important;
  border: none !important;
}

.course-card .btn-dark:hover {
  background-color: #23272b !important;
}

.card-component .course-card {
  background-color: #0284c2;
  color: white;
  border-radius: 10px;
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}

.card-component .course-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-component .course-card:hover::after {
  opacity: 1;
}

.card-component .course-card .card-body {
  position: relative;
  z-index: 2;
}

.card-component .course-card:nth-child(1) {
  background-color: #0284c2;
}
.card-component .course-card:nth-child(2) {
  background-color: #997d62;
}
.card-component .course-card:nth-child(3) {
  background-color: #00355c;
}

.card-component .course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card-component .card-description {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.card-component .course-card:hover .card-description {
  top: 60%;
  opacity: 1;
  transform: translateY(-50%);
}

.card-title {
  font-family: var(--font3);
}

.review-section {
  overflow: hidden;
}

.review-slider {
  max-width: 90%;
  margin: auto;
}

.review-section h2 {
  font-family: var(--font3);
}

.review-card {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}

.review-content {
  flex-grow: 1;
  color: grey;
}

@media (min-width: 320px) and (max-width: 340px) {
  p.review-content {
    font-size: 15px !important;
  }
}

.quote-icon {
  font-size: 24px;
  color: #f5c518;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.review-stars {
  font-size: 18px;
  margin-top: 10px;
}

.text-warning {
  color: gold;
}

.footer-section {
  color: white;
  text-align: left;
}

.footer-logo {
  width: 80px;
}

.footer-section h5 {
  border-bottom: 2px solid #e0d3a9;
  padding-bottom: 5px;
  display: inline-block;
}

.footer-section ul {
  padding: 0;
}

.footer-section ul li {
  list-style: none;
}

.footer-section ul li a {
  text-decoration: none;
  color: white;
}

.footer-section ul li a:hover {
  color: #e0d3a9;
}

.social-icons a {
  font-size: 20px;
  color: #e0d3a9;
}

.social-icons a:hover {
  color: white;
}

.logo-circle {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.footer-logo {
  width: 90%;
  height: auto;
}

/* ********************************** */
.floating-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: -45px;
  z-index: 1000;
}

.shaking-image {
  width: 90px;
  height: auto;
  margin-right: 115px;
  margin-bottom: -70px;
  animation: shake 0.8s infinite alternate;
}

@media (max-width: 768px) {
  .shaking-image {
    width: 70px;
    margin-right: 115px;
    margin-bottom: -70px;
  }
}

@media (max-width: 480px) {
  .shaking-image {
    width: 70px;
    margin-right: 115px;
    margin-bottom: -70px;
  }
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  50% { transform: rotate(-3deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}

.bird-animation {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.coursecard-head {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

.card-component.course-card {
  position: relative;
  overflow: hidden;
}

.card-component .course-card::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.245) !important;
  z-index: 1 !important;
}

.bg-overlay {
  position: relative;
  z-index: 2;
}

.carousel-container {
  max-width: 100%;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 670px;
  object-fit: cover;
  object-position: top;
  transition: transform 0.8s ease-in-out, filter 0.5s ease-in-out;
  filter: brightness(70%);
}

.carousel-item.active {
  transform: scale(1.02);
  transition: transform 1s ease-in-out;
}

@media (max-width: 768px) {
  .carousel-img {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .carousel-img {
    height: 250px;
  }
}

.jk {
  color: white !important;
  font-size: 50px;
  font-family: var(--font2);
  text-shadow: 0 0 10px #d3e7ec, 0 0 20px #00345b, 0 0 30px #00345b;
}

@media screen and (max-width: 1200px) {
  .jk {
    font-size: 45px;
  }
}

@media screen and (max-width: 992px) {
  .jk {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .jk {
    font-size: 35px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .jk {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .jk {
    font-size: 20px;
  }
}

.carousel {
  padding-top: 100px;
}

.whatwedo h2 {
  font-family: var(--font3);
  font-weight: 600;
}

.whatwedo p {
  font-size: 28px;
  text-align: justify;
  text-align-last: center;
  margin: 0 auto;
  max-width: 90%;
}

@media (max-width: 768px) {
  .whatwedo p {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .whatwedo p {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .whatwedo p {
    font-size: 18px;
  }
}

.whatwedo strong {
  color: #0e4d7e;
}

.who-we-serve-section {
  background-color: #f9f9f9;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}

.who-we-serve-section h2 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
}

.who-we-serve-slider .slick-dots {
  bottom: -30px;
}

.who-we-serve-slider .slick-dots li button:before {
  font-size: 12px;
  color: #555;
}

.who-we-serve-slider .slick-dots li.slick-active button:before {
  color: #007bff;
}

.service-card {
  background: #836449cc !important;
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  min-height: 200px;
}

.service-card:hover {
  transform: translateY(-5px);
}

.slick-slide > div {
  display: flex;
  justify-content: center;
}

.service-title {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.service-content {
  font-size: 14px;
  color: white;
  line-height: 1.5;
  text-align: center;
}

.who-we-serve-section h5 {
  font-size: 21px;
  text-align: center;
}

@media (max-width: 1200px) {
  .who-we-serve-section h5 {
    font-size: 20px;
  }
  .service-title {
    font-size: 20px !important;
  }
}

@media (max-width: 992px) {
  .who-we-serve-section h5 {
    font-size: 18px;
  }
}

.profile-section {
  background-color: #fcf7ed;
  padding: 60px 0;
  font-family: var(--font3);
}

.profile-image {
  width: 60%;
  max-width: 200px;
  background-size: contain;
  height: auto;
  border: 4px solid #007bff;
  padding: 4px;
  border-radius: 50%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
  
  .profile-image:hover {
    transform: scale(1.05);
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.4);
  }
  
  .profile-section h6 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .profile-section h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  
  .profile-text {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
    text-align: justify;
    max-width: 600px;
  }
  
  @media (max-width: 768px) {
    .profile-section {
      text-align: left;
    }
    .profile-text-container {
      text-align: center !important;
    }
    .profile-image {
      width: 50%;
      max-width: 150px;
    }
    .profile-text {
      max-width: 100%;
      text-align: center;
    }
  }
  
  @media (min-width: 786px) and (max-width: 992px) {
    .profile-text-container h2 {
      font-size: 24px !important;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1103px) {
    .profile-text-container h2 {
      font-size: 24px !important;
    }
  }
  
  @media (min-width: 320px) and (max-width: 393px) {
    .profile-text-container h2 {
      font-size: 21px !important;
    }
  }
  
  @media (max-width: 1200px) {
    .team-section-h5 {
      font-size: 20px !important;
    }
  }
  
  @media (max-width: 992px) {
    .team-section-h5 {
      font-size: 18px !important;
    }
  }
  
  @media (max-width: 768px) {
    .team-section h5 {
      font-size: 16px !important;
    }
  }
  
  @media (max-width: 576px) {
    .team-section-h5 {
      font-size: 16px !important;
    }
  }
  
  /* **************************************** */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}
